[submodule "src/quac-detection"]
	path = src/quac-detection
	url = https://github.com/wggRobotic/quac-detection.git
[submodule "src/quac-sensor"]
	path = src/quac-sensor
	url = https://github.com/wggRobotic/quac-sensor.git
[submodule "src/quac-inverse-kinematics"]
	path = src/quac-inverse-kinematics
	url = https://github.com/wggRobotic/quac-inverse-kinematics.git
[submodule "src/quac-rviz-plugins"]
	path = src/quac-rviz-plugins
	url = https://github.com/wggRobotic/quac-rviz-plugins.git
[submodule "src/quac-hardware"]
	path = src/quac-hardware
	url = https://github.com/wggRobotic/quac-hardware.git
[submodule "src/quac-interfaces"]
	path = src/quac-interfaces
	url = https://github.com/wggRobotic/quac-interfaces.git
[submodule "src/quac-controllers"]
	path = src/quac-controllers
	url = https://github.com/wggRobotic/quac-controllers.git
[submodule "src/quac-arm-target-controller"]
	path = src/quac-arm-target-controller
	url = https://github.com/wggRobotic/quac-arm-target-controller.git
[submodule "src/quac-cam-streams"]
	path = src/quac-cam-streams
	url = https://github.com/wggRobotic/quac-cam-streams
[submodule "src/quac-cmd-vel-mux"]
	path = src/quac-cmd-vel-mux
	url = https://github.com/wggRobotic/quac-cmd-vel-mux
