<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystemWheels" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

         <joint name="wheel_front_left_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_front_right_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_rear_left_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_rear_right_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        

    </ros2_control>
    
    <ros2_control name="GazeboSystemServos" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="arm_servo_0_joint">
            <param name="id">5</param>
            <param name="type">pos</param>
            <param name="offset">1.570796</param>
        
            <command_interface name="position">
                <param name="min">-1.570796</param>
                <param name="max">1.570796</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-9.2</param>
                <param name="max">9.2</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="temperature"/>
        </joint>

        <joint name="arm_servo_1_joint">
            <param name="id">6</param>
            <param name="type">pos</param>
            <param name="inverted">true</param>
            <param name="offset">1.8</param>
            <command_interface name="position">
                <param name="min">-0.8</param>
                <param name="max">1.570796</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-9.2</param>
                <param name="max">9.2</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="temperature"/>
        </joint>

        <joint name="gripper_servo_joint">
            <param name="id">1</param>
            <param name="type">pos</param>
            <param name="inverted">true</param> 
            <param name="offset">1.75</param>
            <command_interface name="position">
                <param name="min">0</param>
                <param name="max">1.7</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-9.2</param>
                <param name="max">9.2</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="temperature"/>
        </joint>


    </ros2_control>

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <ros>
                <namespace>quac</namespace>
                <remapping>/robot_description:=robot_description</remapping>
                <remapping>/tf:=tf</remapping>
                <remapping>/clock:=clock</remapping>
                <remapping>diff_drive_controller/cmd_vel:=cmd_vel</remapping>
                <remapping>diff_drive_controller/odom:=odom</remapping>
            </ros>
            <parameters>$(find quac)/config/controllers.yaml</parameters>
            <parameters>$(find quac)/config/gz_sim_time.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="lidar">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>lidar</gz_frame_id>
        </sensor>
    </gazebo>

</robot>