<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="twist_joint_plugin" filename="libtwist_joint_plugin.so">
            <joint1>wheel_front_left_joint</joint1>
            <joint2>wheel_front_right_joint</joint2>
            <joint3>wheel_rear_left_joint</joint3>
            <joint4>wheel_rear_right_joint</joint4>
        </plugin>
    </gazebo>
    
</robot>