<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:arg name="disable_wheels" default="false"/>
    <xacro:arg name="disable_arm" default="false"/>
    <xacro:arg name="old_arm" default="false"/>
    
    <!-- WHEELS -->

    <ros2_control name="wheel_hardware" type="system">

        <hardware>
            <xacro:unless value="$(arg disable_wheels)">
                <plugin>quac_hardware/DDSM115</plugin>
                <param name="port">/dev/quac/wheels</param>
                <param name="act">3</param>
            </xacro:unless>

            <xacro:if value="$(arg disable_wheels)">
                <plugin>mock_components/GenericSystem</plugin>
                <param name="calculate_dynamics">true</param>
            </xacro:if>
        </hardware>

        <xacro:macro name="wheel_joint" params="name id scalar">
            <joint name="${name}">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="current"/>
                <param name="id">${id}</param>
                <param name="scalar">${scalar}</param>
            </joint>
        </xacro:macro>

        <xacro:wheel_joint name="wheel_front_left_joint" id="1" scalar="1"/>
        <xacro:wheel_joint name="wheel_front_right_joint" id="2" scalar="-1"/>
        <xacro:wheel_joint name="wheel_rear_left_joint" id="3" scalar="1"/>
        <xacro:wheel_joint name="wheel_rear_right_joint" id="4" scalar="-1"/>

    </ros2_control>

    <!-- ARM -->

    <ros2_control name="arm_hardware" type="system">

        <hardware>
            <xacro:unless value="$(arg disable_arm)">
                <plugin>quac_hardware/WaveshareServos</plugin>
                <param name="port">/dev/quac/servos</param>
                <param name="crawler_arm_param_hw_start_duration_sec">0</param>
                <param name="crawler_arm_hw_stop_duration_sec">3.0</param>
                <param name="crawler_arm_hw_slowdown">100</param>
            </xacro:unless>

            <xacro:if value="$(arg disable_arm)">
                <plugin>mock_components/GenericSystem</plugin>
            </xacro:if>
        </hardware>

        <xacro:macro name="arm_joint" params="name id inverted offset pos_min pos_max">
            <joint name="${name}">
                <param name="id">${id}</param>
                <param name="type">pos</param>
                <param name="inverted">${inverted}</param>
                <param name="offset">${offset}</param>
            
                <command_interface name="position"/>
                <param name="pos_min">${pos_min}</param>
                <param name="pos_max">${pos_max}</param>

                <command_interface name="velocity"/>
                <param name="vel_min">-9.2</param>
                <param name="vel_max">9.2</param>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="torque"/>
                <state_interface name="temperature"/>
            </joint>
        </xacro:macro>

        <xacro:arm_joint name="gripper_joint" id="4" inverted="true"  offset="1.75"        pos_min="0"      pos_max="1.7" />

        <xacro:if value="$(arg old_arm)">
            <xacro:arm_joint name="arm_segment_0_joint"   id="5" inverted="true"  offset="${pi/2}"     pos_min="${-pi}" pos_max="0"/>
            <xacro:arm_joint name="arm_segment_1_joint"   id="6" inverted="false" offset="${1.8-pi/2}" pos_min="0"      pos_max="${pi/2 + 0.8}"/>
        </xacro:if>

        <xacro:unless value="$(arg old_arm)">
            <xacro:arm_joint name="arm_segment_0_joint"   id="1" inverted="false"  offset="${3*pi/2}"     pos_min="${-pi-pi/8}"   pos_max="0"/>
            <xacro:arm_joint name="arm_segment_1_joint"   id="2" inverted="false"  offset="${pi/2}"   pos_min="0"        pos_max="${pi}"/>
            <xacro:arm_joint name="arm_segment_2_joint"   id="3" inverted="true"   offset="${pi}" pos_min="${-pi/5}" pos_max="${pi/2}" />
        </xacro:unless>

    </ros2_control>     
</robot>
