<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <material name="chassis_material">
        <color rgba="1.0 1.0 1.0 1.0" />
    </material>

    <material name="wheel_material">
        <color rgba="0.6 0.6 0.6 1.0" />
    </material>

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 0.09705" rpy="0 0 0"/>
    </joint>

    <link name="chassis">
        <inertial>
            <origin xyz="-0.006592503505638408 -1.5301626995551604e-17 0.04294027543409115" rpy="0 0 0"/>
            <mass value="6.419279977222798"/>
            <inertia ixx="0.031932" iyy="0.058111" izz="0.057234" ixy="-0.0" iyz="-0.0" ixz="0.003075"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://quac/meshes/chassis.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="chassis_material"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://quac/meshes/chassis.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="chassis">
        <material>Gazebo/White</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <gravity>true</gravity>
    </gazebo>

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser"/>
        <origin xyz="-0.02 0.0 0.15" rpy="0 0 ${pi}"/>
    </joint>

    <link name="laser"/>

    <joint name="rear_camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="rear_camera"/>
        <origin xyz="-0.09 0.0 0.1" rpy="0 0 ${pi}"/>
    </joint>

    <link name="rear_camera"/>
    
</robot>
