<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel" params="name joint_origin_xyz link_xyz mesh">
        <joint name="${name}_joint" type="continuous">
            <origin xyz="${joint_origin_xyz}" rpy="0 0 0"/>
            <parent link="chassis"/>
            <child link="${name}"/>
            <axis xyz="-1.0 0.0 0.0"/>
        </joint>

        <link name="${name}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="1.0708903957924194"/>
                <inertia ixx="0.001339" iyy="0.000897" izz="0.000897" ixy="0.0" iyz="0.0" ixz="0.0"/>
            </inertial>
            <visual>
                <origin xyz="${link_xyz}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
                </geometry>
                <material name="wheel_material"/>
            </visual>
            <collision>
                <origin xyz="${link_xyz}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
                </geometry>
            </collision>

            <gazebo>
                <mu1>0.2</mu1>       <!-- lateral friction -->
                <mu2>0.8</mu2>       <!-- longitudinal friction -->
                <fdir1>1 0 0</fdir1> <!-- wheel forward direction -->
                <slip1>0.1</slip1>  <!-- longitudinal slip tolerance -->
                <slip2>0.5</slip2>  <!-- lateral slip tolerance -->
                <turning_surface>false</turning_surface> <!-- optional -->
            </gazebo>

        </link>

        <gazebo reference="${name}">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

    <!-- Four wheels -->
    
    <xacro:wheel 
        name="wheel_rear_right"  
        joint_origin_xyz="0.105 -0.104 -0.0183"  
        link_xyz="-0.105 0.104 0.0183" 
        mesh="package://quac/meshes/wheel.stl"
        />

    <xacro:wheel 
        name="wheel_front_right" 
        joint_origin_xyz="0.105 0.104 -0.0183" 
        link_xyz="-0.105 -0.104 0.0183" 
        mesh="package://quac/meshes/wheel_2.stl"
        />
    <xacro:wheel 
        name="wheel_front_left"   
        joint_origin_xyz="-0.105 0.104 -0.0183" 
        link_xyz="0.105 -0.104 0.0183" 
        mesh="package://quac/meshes/wheel_3.stl"
        />
    <xacro:wheel 
        name="wheel_rear_left"  
        joint_origin_xyz="-0.105 -0.104 -0.0183" 
        link_xyz="0.105 0.104 0.0183" 
        mesh="package://quac/meshes/wheel_4.stl"
        />

</robot>